*{
    box-sizing: border-box;
}
body{
    width: 1000px;
    font-size: 10px;
    background: url("../imgs/background.jpg") no-repeat fixed;
    margin: auto;
}
nav{
    width: inherit;
    height: 11.5rem;
    color: white;
}
nav>img{
    padding-top: .5rem;
    width: 40%;
    height: 60%;
}
nav>a{
    background-color: #000;
    border-radius: 5px;
    font-size: 2.0rem;
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}
.app-container{
    width: inherit;
    height: 50rem;
}
.app-menu{
    width: 1000px;
    height: 200px;
    background-color: #950008;
    position: fixed;
    bottom: 1.5%;
    color: white;
}
.app-menu img{
    width: 120px;
    height: 120px;
    padding-top: 14px;
    margin-left: 9.5rem;
    /*margin-right: auto;*/
}
.app-stripe{
    width: 1000px;
    height: 65px;
    background-color: white;
    position: fixed;
    bottom: 1.5%;
}
#sec-webgl{
    background-color: rgba(121, 225, 255, 0.25);
}
#sec-search{
    background-color: rgba(118, 255, 111, 0.25);
}
#sec-info{
    background-color: rgba(255, 241, 120, 0.25);
}
.render-true{
    display: none;
}
.render-false{
    display: none;
}