*{
    box-sizing: border-box;
}
body{
    width: 1000px;
    font-size: 10px;
    background: url("../imgs/background.jpg") no-repeat fixed;
    margin: auto;
}
.bg-red{background-color: #9e281e}
.bg-white{background-color: #ffffff}

nav {
    width: inherit;
    height: 11.5rem;
    color: white;
}
nav>img{
    padding-top: .5rem;
    width: 40%;
    height: 60%;
}
nav>a{
    background-color: #000;
    border-radius: 5px;
    font-size: 2.0rem;
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}

#app-nav{
    position: fixed;
    bottom: 1.6rem;
    left: 10rem;
    width: 55rem;
    height: 10rem;
}
.win{
    width: 55rem;
    height: 35rem;
    margin: auto;
    margin-bottom: 15rem;
}