nav{
    margin-top: 1rem;
}
nav img{
    width: 35%;
    height: 35%;
}
nav div{
    text-align: right;
    width: inherit;
    height: inherit;
    background-color: black;
    border-radius: 3px;
    padding: 0.3rem 1rem .3rem 1rem;
}
nav a{
    text-decoration: none;
    font-size: 1.35rem;
    color: white;
    /*margin-left: 3rem*/
    margin-left: .5rem
}

#footer-brute{margin: 0 0 100px 0}