*{
    box-sizing: border-box;
    font-size: 10px;
}
body{
    max-width: 1000px;
    background: url("../imgs/background.jpg") no-repeat fixed;
    background-size: cover;
    margin: auto;
}
.wot-bg-matte{
    background: url("../imgs/dynamic-bg.jpg") no-repeat center;
    background-size: cover;
}
#app-container{
    margin: auto;
    margin-top: 1.5rem;
    width: 65vw;
    max-width: 1000px;
    height: 50vh;
}
canvas{
    width: 56rem;
    height: inherit;
    overflow: hidden;
}

article{
    margin:  .25rem 0 .25rem 0;
    padding: 0;
    border: 0;
}
b{
    font-size: 2.5rem;
    margin-left: 1rem;
}
h1{
    font-size: 4.5vh;
    padding: 0;
    border: 0;
    margin: .25rem 1rem .25rem 1rem;
    color: #830012;
}
h2{
    font-size: 3.5rem;
    padding: 0;
    margin: .25rem 1rem .25rem 1rem;
}
h3{
    font-size: 3rem;
    padding: 0;
    margin: .25rem 1rem .25rem 1rem;
}
p, em{
    margin: 0;
    font-size: 2.5rem;
    padding: 0 1rem 0 1rem;
    line-height: 3.5rem;
}
a{
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
}
li{
    font-size: 3.5rem;
    padding: .25rem 0 .25rem 0;
}
.login-creds-input{
    width: 50%;
    height: 3.5rem;
    font-size: 2.5rem;
}

#banner{
    width: 35%;
    margin: 0 9rem 0 0;
}
#banner img{
    width: 25vw;
}
#loader{
    /*z-index: 10;*/
    width: 30rem;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.75);
    border: 3px solid #830012;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#dynamic-container{
    height: 80vh;
    overflow: hidden;
}
#static-container{
    z-index: 5;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    margin: 3rem 0 1rem 0;
}
#js-searchResults{
    overflow-y: scroll;
    max-height: 80vh;
}

.search-col{
    width: calc(99%/2);
    padding: 0;
    border: 0;
    margin: 0;
}
.search-box{
    height: 6.5rem;
    text-align: center;
    padding-top: 0.55rem;
    font-size: 2.75rem;
}
.search-box input{
    width: 75%;
    height: 5rem;
    margin: 0 0 0 1rem;
    border-radius: 2px;
    border: none;
}
.search-box button{
    width: 15%;
    height: 5rem;
    margin-left: 1rem;
    border-radius: 2px;
    border: none;
    font-size: 2.75rem;
    transition: background-color ease-in-out .15s;
}

#story-menu{
    height: 10rem;
}
.stories-button{
    width: 20%;
}

.menu-btn{
    width: 6.5rem;
    transition: transform ease-in-out .25s;
    transform: scale(1);
    margin: 0 0 0 4.5rem;
    text-align: center;
}
.menu-btn h3{
    font-size: 2.25rem;
    padding: 0;
    margin: 0;
}
.menu-top{
    max-width: 6.5rem;
    min-width: 6.5rem;
}
.menu-btn:hover{transform: scale(1.0375);}

button{
    width: calc(83%/2);
    height: 3.75rem;
    font-size: 2rem;
    background-color: white;
    margin: 0.25rem 2rem 0.25rem 2rem;
    border-radius: .2rem;
    border-style: none;
    transition: background-color ease-in-out .25s;
}
.vet-info, .vet-story{
    width: calc(90%/2);
    margin: 0.25rem .2rem 0.25rem .2rem;
}
button:hover{
    background-color: #c06a71;
}
button:active{
    background-color: #b75246
}
.button-story{
    border-radius: 50%;
}

/* Single Styling */
.bg-red{background-color: #830012}
.bg-gray{background-color: #cdcdcd}
.bg-white{background-color: #ffffff}
.no-click{
    opacity: 0.2575;
    pointer-events: none;
}
.inline{display: inline-block}

/* Media Queries */
@media (max-width: 1000px){
    #app-container{
        width: 80vw;
    }
    /*#banner img{*/
        /*width: 50vw;*/
    /*}*/
    .menu-btn{
        width: 8.5rem;
        margin: .3rem 1rem 0 1rem;
    }
    h2{font-size: 2.75rem}
    h3{font-size: 2.75rem}
    .search-col button{
        display: block;
        width: 100%;
        margin: .25rem 0 .25rem 0;
    }
    .search-box input{width: 45%}
    .search-box button{
        width: 45%;
    }
    form input #text-title, form input #text-text{
        display: block;
        width: 40%;
    }
    .login-creds-input{
        width: 75%;
    }
}
@media (max-width: 600px) {
    #app-container{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    #dynamic-container{
        height: 80vh;
    }
    /*#banner img{*/
        /*display: none;*/
    /*}*/
    h2{font-size: 2.5em}
    h3{font-size: 2.5rem}
    .search-col{
        display: block;
        width: 100%;
        text-align: center;
    }
    #story-btn-container button{
        display: inline-block;
        width: 97%;
        margin: 0.5rem 0 0.5rem 0;
    }
    .vet-info, .vet-story{
        display: block;
        width: 100%;
    }
    #static-container{

    }
    .search-box{
        height: 11.5rem;
    }
    .search-box input, .search-box button{
        width: 97%;
        margin: .25rem 0 0 0;
    }
    .menu-btn{
        width: 18vw;
        max-width: 20vw;
        margin: .35rem .35rem 0 .35rem;
    }
    .menu-top{
        max-width: 15vw;
    }
    .menu-btn h3{display: none}
    .login-creds-input{
        width: 95%;
    }
}