*{
    box-sizing: border-box;
    font-size: 10px;
}
body{
    width: 100rem;
    background: url("../imgs/background.jpg") no-repeat fixed;
    background-size: cover;
    margin: auto;
}
.wot-bg-matte{
    background: url("../imgs/dynamic-bg.jpg") no-repeat center;
    background-size: cover;
}
#app-container{
    width: 100rem;
    max-width: 1000px;
}
canvas{
    width: 56rem;
    height: inherit;
    overflow: hidden;
}

article{
    margin:  .25rem 0 .25rem 0;
    padding: 0;
    border: 0;
}
b{
    font-size: 2.5rem;
    margin-left: 1rem;
}
h1{
    font-size: 4.5vh;
    padding: 0;
    border: 0;
    margin: .25rem 1rem .25rem 1rem;
    color: #830012;
}
h2{
    font-size: 3.5rem;
    padding: 0;
    margin: .25rem 1rem .25rem 1rem;
}
h3{
    font-size: 3rem;
    padding: 0;
    margin: .25rem 1rem .25rem 1rem;
}
p, em{
    margin: 0;
    font-size: 2.5rem;
    padding: 0 1rem 0 1rem;
    line-height: 3.5rem;
}
a{
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
}
li{
    font-size: 3.5rem;
    padding: .25rem 0 .25rem 0;
}
.login-creds-input, #login button, #new-user button{
    width: 50%;
    height: 3.5rem;
    font-size: 2.5rem;
}
#login button, #new-user button{
    margin: 0.5rem 0 0 0;
}

#banner{
    width: 35rem;
}
#banner img{
    width: 25vw;
}
#loader{
    /*z-index: 10;*/
    width: 30rem;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.75);
    border: 3px solid #830012;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#dynamic-container{
    height: 80vh;
    border-radius: 3px;
    max-height: 80vh;
    overflow: hidden;
}
#search-container{ height: inherit}
#static-container{
    z-index: 5;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    margin: 1.5rem 0 1rem 0;
}
#static-menu-btns{
    float: right;
    margin-right: 1rem
}
#js-searchResults, #text-stories-container, #intro{
    overflow-y: scroll;
    height: inherit;
    max-height: 100%;
}

.search-col{
    width: calc(99%/2);
    padding: 0;
    border: 0;
    margin: 0;
}
.search-box{
    height: 6.5rem;
    text-align: center;
    padding-top: 0.55rem;
    font-size: 2.75rem;
}
.search-box input{
    width: 75%;
    height: 5rem;
    margin: 0 0 0 1rem;
    border-radius: 2px;
    border: none;
}
.search-box button{
    width: 15%;
    height: 5rem;
    margin-left: 1rem;
    border-radius: 2px;
    border: none;
    font-size: 2.75rem;
    transition: background-color ease-in-out .15s;
}

.menu-btn{
    width: 6.5rem;
    transition: transform ease-in-out .25s;
    transform: scale(1);
    margin: 0 0 0 4.5rem;
    text-align: center;
}
.menu-btn h3{
    font-size: 2.25rem;
    padding: 0;
    margin: 0;
}
.menu-btn:hover{transform: scale(1.0375);}
.stories-button{
    width: 20%;
}

.menu-top{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.text-story-info-field{
    margin: 0 0 0 6.5%;
}
form input{
    width: 81.5%;
}
form h2{
    margin: 1rem 0 1rem 0;
    width: 10rem;
}
form textarea{
    font-size: 2rem;
    width: 87.5%;
    height: 50vh;
    resize: none;
}
form button{
    width: 35%;
}

button{
    width: calc(83%/2);
    height: 3.75rem;
    font-size: 2rem;
    background-color: white;
    margin: 0.25rem 2rem 0.25rem 2rem;
    border-radius: .2rem;
    border-style: none;
    transition: background-color ease-in-out .25s;
}
.vet-info, .vet-story, .vet-memorial{
    width: calc(90%/3);
    margin: 0.25rem .2rem 0.25rem .2rem;
}
button:hover{
    background-color: #c06a71;
}
button:active{
    background-color: #b75246
}
.button-story{
    border-radius: 50%;
}

/* Single Styling */
.bg-red{ background-color: #830012}
.bg-gray{ background-color: #cdcdcd}
.bg-white{ background-color: #ffffff}
.no-click{
    opacity: 0.2575;
    pointer-events: none;
}
.inline{display: inline-block}

/* Media Queries */
@media (max-width: 999px){
    body{
        width: 100vw;
        height: 100vh
    }
    #app-container{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    #banner{ margin-left: 1rem}
    h2{ font-size: 2.75rem}
    h3{ font-size: 2.75rem}
    .search-col button{
        display: block;
        width: 100%;
        margin: .25rem 0 .25rem 0;
    }
    .search-box input{ width: 45%}
    .search-box button{ width: 45%}
    form input{
        width: 78.5%;
    }
}
@media(max-width: 790px){
    #banner{
        display: inline-block;
        width: 25rem;
    }
    .menu-btn { width: 4.75rem}
    #static-menu-btns{ margin-right: 3rem}
    #static-menu-btns h3{ font-size: 2rem}
    .login-creds-input, #login button, #new-user button{ width: 75%}
    form textarea{height: 45vh}
    form input{
        width: 75.5%;
    }
    /*form input #text-title, form input #text-text{
        display: block;
        width: 40%;
    }*/
}
@media (max-width: 634px) {
    #static-container{ margin: .5rem 0 0 0}
    #banner-container{
        width: 100%;
        text-align: center;
    }
    #banner{
        width: 25rem;
        margin: 0 0 0 0;
    }
    #static-menu-btns{
        display: inline-block;
        float: none;
        width: 100%;
        text-align: center;
        margin: 0 0 0.5rem 0;
    }
    .menu-btn{ margin: 0 3.5rem 0 3.5rem !important;}
    .menu-top{
        width: 4rem;
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
    }
    .menu-top h3{font-size: 1.75rem}
    form input{
        width: 69%;
    }
}
@media (max-width: 480px) {
    #banner{ width: 50%}
    h2{font-size: 2.5em}
    h3{font-size: 2.5rem}
    .search-col{
        display: block;
        width: 100%;
        text-align: center;
    }
    #story-btn-container button{
        display: inline-block;
        width: 97%;
        margin: 0.5rem 0 0.5rem 0;
    }
    .vet-info, .vet-story{
        display: block;
        width: 100%;
    }
    .search-box{ height: 11.5rem}
    .search-box input, .search-box button{
        width: 97%;
        margin: .25rem 0 0 0;
    }
    .menu-btn{
        width: 10vw;
        margin-left: 2.5rem !important;
        margin-right: 2.5rem !important;
    }
    form input{
        width: 61.5%;
    }
    .login-creds-input, #login button, #new-user button{
        width: 95%;
    }
}
@media(max-width: 360px){
    .menu-btn{
        width: 10vw;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    .menu-btn h3{
        display: none;
    }
    form input{
        width: 81.5%;
    }
}
