*{
    box-sizing: border-box;
    font-size: 10px;
}
body{
    width: 1000px;
    background: url("../imgs/background.jpg") no-repeat fixed;
    background-size: cover;
    margin: auto;
}
#app-container{
    width: inherit;
    margin: 3.5rem 0 0 0;
}
#banner{text-align: center;}
#banner img{width: 50%}

#dynamic-container{height: 60rem;}
#static-container{
    z-index: 5;
    height: 150px;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: auto;
    padding: 0.5rem 0 0.5rem 0;
}

.menu-btn{
    width: 10%;
    transition: transform ease-in-out .25s;
    transform: scale(1);
    margin: 0 2rem 0 2rem
}
.menu-btn a{
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
}
.menu-btn:hover{transform: scale(1.15);}

/*=========== Undecided ===========*/
/* Search Box - STABLE */
.search-box{
    height: 4rem;
    text-align: center;
    padding-top: 0.55rem;
    font-size: 1.8rem;
}
.search-box input{
    width: 45rem;
    height: 2.8rem;
    border-radius: 2px;
    border: none;
}
.search-box button{
    width: 15rem;
    height: 2.8rem;
    margin-left: 1rem;
    border-radius: 2px;
    border: none;
    transition: background-color ease-in-out .15s;
}
/* Search Result - STABLE */
#js-searchResults{
    height: 31.5rem;
    text-align: right;
}
#js-searchResults li{}
#js-searchResults span{
    font-size: 2rem;
    font-weight: bold;
}
#js-searchResults button{
    width: 15rem;
    height: 2.5rem;
    font-size: 1.5rem;
    margin: 0 2rem 0 2rem;
    border-radius: .2rem;
    border-style: none;
    transition: background-color ease-in-out .25s;
}
#js-searchResults button:hover, .search-box button:hover{
    background-color: #c06a71;
}
#js-searchResults button:active, .search-box button:active{
    background-color: #b75246
}

/*=======================================================*/

/* Focused Styling */
.bg-red{background-color: #830012}
.bg-gray{background-color: #cdcdcd}
.bg-white{background-color: #ffffff}
.inline{display: inline-block}
.scroll-y{
    overflow-y: scroll;
}

/* Media Queries */
@media (max-width: 768px){
    nav{
        text-align: center;
    }
    nav img{
        display: block;
        width: 50%;
        height: 50%;
        margin: auto;
    }
    nav a{
        margin-top: 1.5rem;
        font-size: 2.5rem;
    }
    .win{
        margin-top: 1rem;
    }
}
@media (max-width: 425px){
    nav img{
        display: block;
        width: 75%;
        height: 75%;
        margin: auto;
    }
    nav a{
        margin-top: 1.5rem;
        font-size: 3.5rem;
    }
    #menu img{
        width: 95%;
    }
}